# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Models
notebooks/models/
*.pkl
*.joblib
*.bin
*.pt
*.pth
*.onnx

# Dataset
data/

# OS
.DS_Store
Thumbs.db