# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
.venv/
venv/
env/

# ===========================
# Jupyter
# ===========================
.ipynb_checkpoints/

# ===========================
# IDE
# ===========================
.vscode/
.idea/

# ===========================
# OS
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Models
# ===========================
models/

# ===========================
# Generated Vectors
# ===========================
vectors/

# ===========================
# Dataset
# ===========================
data/raw/
data/processed/
data/primary/

# Nếu dùng MIND sample tự tạo thì cũng có thể ignore
# data/sample/

# ===========================
# Temporary files
# ===========================
*.tmp
*.temp

# ===========================
# Environment variables
# ===========================
.env